@use 'functions' as *;
@use 'typography' as *;

.followButton {
  @include label-small;
  transition: all 0.2s ease-in-out;
  padding: var(--follow-button-padding);
  background: var(--follow-button-background);
  color: var(--follow-button-color);
  border: 1px solid var(--follow-button-border-color);
  border-radius: grid(1);
  align-self: flex-end;
  display: flex;
  align-items: center;
  min-height: var(
    --follow-button-min-height
  ); // don't change height if icon is not there

  &:hover {
    background: var(--follow-button-hover-background);
    border-color: var(--follow-button-hover-border-color);
    color: var(--follow-button-hover-color);

    .iconPath {
      fill: var(--follow-button-hover-icon-color);
    }
  }
}

.text {
  margin-left: grid(1);
}

.iconSvg {
  transform: translateY(-1px);
}

.iconPath {
  transition: all 0.2s ease-in-out;
  fill: var(--follow-button-icon-color);
}
