@use 'functions' as *;
@use 'typography' as *;

.name {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
}

.description {
  @include body-medium;
  color: var(--color-blue-30);
}

.feedTypeTitle {
  @include label-xs-caps-prominent;
  margin-bottom: grid(2);
}
