@use 'functions' as *;
@use 'typography' as *;

.container {
  border: 1px solid var(--color-neutral-90);
  background: var(--color-neutral-100);
  flex-basis: 25%;
  min-width: 200px;
  padding: grid(3) grid(2) grid(2) grid(2);
  border-radius: grid(1);
  height: 100%;
  transform: translateY(calc(var(--feed-tab-height) + #{grid(2)}));
}

.label {
  @include label-xs;
  margin-bottom: grid(3);
}

.tag {
  @include label-2xs;
  border-radius: 9999px;
  background: var(--color-neutral-95);
  border: 1px solid var(--color-neutral-80);
  padding: grid(1) grid(2);
  margin: 0 grid(1) grid(1) 0;

  &:hover:not(.active) {
    border-color: var(--color-blue-60);
    background-color: var(--color-blue-90);
  }
}

.active {
  border-color: var(--color-blue-60);
  background: var(--color-blue-60);
  color: var(--color-blue-100);
}
