@use 'functions' as *;
@use 'typography' as *;

.banner {
  padding: grid(4) 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerUserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  margin-bottom: grid(4);
}

.breadcrumbs {
  align-self: flex-start;
}

.bannerUserName {
  @include headline-large;
  color: var(--color-primary-light);
  margin: grid(4) 0 grid(2) 0;
}

.bannerUserBio {
  color: rgba(var(--color-surface-rgb), 0.8);
  margin-bottom: grid(2);
  max-width: 600px;
  text-align: center;
}

.followButton {
  @include label-small;
  padding: grid(2);
  color: rgba(var(--color-surface-rgb), 0.8);
  border: 1px solid rgba(var(--color-surface-rgb), 0.8);
  border-radius: grid(1);
  align-self: flex-end;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-accent-faint);
    border-color: var(--color-accent-faint);
    color: var(--color-primary);
  }
}

.name {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
}

.description {
  @include body-medium;
  color: var(--color-blue-30);
}

.feedTypeTitle {
  @include label-xs-caps-prominent;
  margin-bottom: grid(2);
}
