@use 'functions' as *;
@use 'typography' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: grid(6) 0;
}

.name {
  @include headline-large;
  color: var(--color-blue-60);
  margin-bottom: grid(1);
}

.description {
  @include body-medium;
  color: var(--color-blue-30);
}
