:root {
  --color-brand: #5e6ad2;
  --color-link-primary: #828fff;
  --color-link-hover: #828fff;

  --color-neutral-0: #000000;
  --color-neutral-5: #111111;
  --color-neutral-10: #1c1b1b;
  --color-neutral-15: #262625;
  --color-neutral-20: #313030;
  --color-neutral-25: #3c3b3b;
  --color-neutral-30: #484646;
  --color-neutral-35: #535252;
  --color-neutral-40: #605e5d;
  --color-neutral-50: #797776;
  --color-neutral-60: #92908f;
  --color-neutral-70: #adabaa;
  --color-neutral-80: #c9c6c5;
  --color-neutral-90: #e5e2e1;
  --color-neutral-95: #f4f0ef;
  --color-neutral-98: #fcf8f7;
  --color-neutral-99: #f6fff0;
  --color-neutral-100: #ffffff;

  --color-neutral-variant-0: #000000;
  --color-neutral-variant-5: #111110;
  --color-neutral-variant-10: #1c1b1b;
  --color-neutral-variant-15: #262625;
  --color-neutral-variant-20: #31302f;
  --color-neutral-variant-25: #3c3b3a;
  --color-neutral-variant-30: #474646;
  --color-neutral-variant-35: #535251;
  --color-neutral-variant-40: #5f5e5d;
  --color-neutral-variant-50: #787776;
  --color-neutral-variant-60: #92908f;
  --color-neutral-variant-70: #adaba9;
  --color-neutral-variant-80: #c9c6c4;
  --color-neutral-variant-90: #e5e2e0;
  --color-neutral-variant-95: #f3f0ee;
  --color-neutral-variant-98: #fcf9f7;
  --color-neutral-variant-99: #f7ffee;
  --color-neutral-variant-100: #ffffff;
}
