@mixin slab {
  font-family: 'RobotoSlab', system-ui, serif;
}

@mixin slab-light {
  @include slab;
  font-variation-settings: 'wght' 300;
}

@mixin slab-regular {
  @include slab;
  font-variation-settings: 'wght' 400;
}

@mixin slab-medium {
  @include slab;
  font-variation-settings: 'wght' 500;
}

@mixin slab-semibold {
  @include slab;
  font-variation-settings: 'wght' 600;
}

@mixin slab-bold {
  @include slab;
  font-variation-settings: 'wght' 700;
}

@mixin slab-extrabold {
  @include slab;
  font-variation-settings: 'wght' 800;
}

@mixin sans {
  font-family: 'Inter', system-ui, sans-serif;
}

@mixin sans-light {
  @include sans;
  font-variation-settings: 'wght' 300;
}

@mixin sans-regular {
  @include sans;
  font-variation-settings: 'wght' 400;
}

@mixin sans-medium {
  @include sans;
  font-variation-settings: 'wght' 500;
}

@mixin sans-semibold {
  @include sans;
  font-variation-settings: 'wght' 600;
}

@mixin sans-bold {
  @include sans;
  font-variation-settings: 'wght' 700;
}

@mixin sans-extrabold {
  @include sans;
  font-variation-settings: 'wght' 800;
}

@mixin display-large {
  @include slab-regular;
  font-size: 4.75rem;
  letter-spacing: -0.021rem;
  line-height: 5.33rem;
}

@mixin display-medium {
  @include slab-regular;
  font-size: 3.75rem;
  letter-spacing: 0;
  line-height: 4.33rem;
}

@mixin display-small {
  @include slab-regular;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 3.67rem;
}

@mixin headline-large {
  @include slab-medium;
  font-size: 2.67rem;
  letter-spacing: 0;
  line-height: 3.33rem;
}

@mixin headline-medium {
  @include slab-medium;
  font-size: 2.33rem;
  letter-spacing: 0;
  line-height: 3rem;
}

@mixin headline-small {
  @include slab-medium;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2.67rem;
}

@mixin title-large {
  @include slab-medium;
  font-size: 1.83rem;
  letter-spacing: 0;
  line-height: 2.33rem;
}

@mixin title-medium {
  @include slab-medium;
  font-size: 1.33rem;
  letter-spacing: 0.01rem;
  line-height: 2rem;
}

@mixin title-small {
  @include slab-medium;
  font-size: 1.17rem;
  letter-spacing: 0.007rem;
  line-height: 1.67rem;
}

@mixin body-large {
  @include sans-regular;
  font-size: 1.33rem;
  letter-spacing: 0.042rem;
  line-height: 2rem;
}

@mixin body-medium {
  @include sans-regular;
  font-size: 1.17rem;
  letter-spacing: 0.021rem;
  line-height: 1.67rem;
}

@mixin body-small {
  @include sans-regular;
  font-size: 1rem;
  letter-spacing: 0.033rem;
  line-height: 1.33rem;
}

@mixin body-xs {
  @include sans-regular;
  font-size: 0.92rem;
  letter-spacing: 0;
  line-height: 1.25rem;
}

@mixin body-2xs {
  @include sans-regular;
  font-size: 0.83rem;
  letter-spacing: 0;
  line-height: 1rem;
}

// Labels
@mixin label-large {
  @include sans-medium;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 1.25rem;
}

@mixin label-large-prominent {
  @include label-large;
  @include sans-bold;
}

@mixin label-large-caps {
  @include label-large;
  text-transform: uppercase;
}

@mixin label-large-caps-prominent {
  @include label-large-caps;
  @include sans-bold;
}

@mixin label-medium {
  @include sans-medium;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-medium-prominent {
  @include label-medium;
  @include sans-bold;
}

@mixin label-medium-caps {
  @include label-medium;
  text-transform: uppercase;
}

@mixin label-medium-caps-prominent {
  @include label-medium-caps;
  @include sans-bold;
}

@mixin label-small {
  @include sans-medium;
  font-size: 0.92rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
}

@mixin label-small-prominent {
  @include label-small;
  @include sans-bold;
}

@mixin label-small-caps {
  @include label-small;
  text-transform: uppercase;
}

@mixin label-small-caps-prominent {
  @include label-small-caps;
  @include sans-bold;
}

@mixin label-xs {
  @include sans-medium;
  font-size: 0.83rem;
  letter-spacing: 0.015rem;
  line-height: 0.875rem;
}

@mixin label-xs-prominent {
  @include label-xs;
  @include sans-bold;
}

@mixin label-xs-caps {
  @include label-xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-xs-caps-prominent {
  @include label-xs-caps;
  @include sans-bold;
}

@mixin label-2xs {
  @include sans-medium;
  font-size: 0.75rem;
  letter-spacing: 0.015rem;
  line-height: 0.75rem;
}

@mixin label-2xs-prominent {
  @include label-2xs;
  @include sans-bold;
}

@mixin label-2xs-caps {
  @include label-2xs;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin label-2xs-caps-prominent {
  @include label-2xs-caps;
  @include sans-bold;
}
