@use 'functions' as *;
@use 'typography' as *;

.container {
  display: flex;
  align-items: center;
  color: var(--favorite-readout-color, var(--color-inert));
}

.favoritePathOutline {
  fill: var(--favorite-readout-heart-outline, var(--color-inert-light));
}

.favoritePathFill {
  fill: var(--favorite-readout-heart-fill, var(--color-inert-light));
}

.favoriteCount {
  margin-left: grid(1);
}
