@use 'functions' as *;
@use 'typography' as *;

.container {
  background: var(--color-blue-70);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: grid(4) var(--page-margin-side);
  @include body-2xs;
}

.widthContainer {
  display: flex;
  width: var(--page-max-width);
  vertical-align: baseline;
}

.name {
  @extend %slab-semibold;
  color: var(--color-blue-100);
  padding-right: grid(1);
}

.link {
  color: var(--color-blue-100);
}
